# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.pytest_cache/
*.db

# Outputs and uploads
backend/output/*.pdf
backend/uploads/*
!backend/uploads/.gitkeep


# Flutter / Dart
frontend_flutter/.dart_tool/
frontend_flutter/.flutter-plugins
frontend_flutter/.flutter-plugins-dependencies
frontend_flutter/build/
frontend_flutter/.packages
frontend_flutter/.pub/
frontend_flutter/android/.gradle
frontend_flutter/android/local.properties
.DS_Store
